@font-face {
    font-family: 'Slabo 27px';
    src: url('./Slabo27px-Regular.ttf');
}
.profile {
    margin: 10px;
    font-family: 'Slabo 27px';
    color: #71767F;
    width: 250px;
    font-size: 1rem;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	background: white;
    
}

.statItem {
width: 33%;    
height: 100%;

padding: 30px 15px;
list-style: none;
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
outline: 1px solid #D8E0EA;
}
.name, .tag, .location {
    display: flex;
    justify-content: center;
    padding-top: 15px;
}
.name {
font-size: 1.5em;
font-weight: 800;
color: #122236;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}


.avatar {
    display: block;
    padding-bottom: 15px;
    border-radius: 50%;
    width: 30%;
    object-fit: contain;
    
}
.stats {
    
    font-size: 12px;
    display: flex;
    justify-content: space-around;
    /* padding: 0; */
    background-color: #F3F6F9;
}
.quantity {
    font-size: 16px;
    font-weight: 800;
    color: #122236;
}
